@inject NavigationManager NavManager
<div class="Text" id="TitleText">
    <p href="">Simon Spedsbjerg</p>
</div>

<div>
    <ul>
        <li class="ButtonText Navigation NavBackground" id="NavHome"  @onclick="(() => UpdatePage(0))">
            <a href="">
                Home
            </a>
        </li>
        <li class="ButtonText Navigation NavBackground" id="NavCV" @onclick="(() => UpdatePage(1))">
            <a href="Cv">
                CV
            </a>
        </li>
        <li class="ButtonText Navigation NavBackground" id="NavGit" @onclick="(() => UpdatePage(2))">
            <a href="GitHub">
                GitHub
            </a>
        </li>
    </ul>
</div>

@code {
    protected void UpdatePage(int buttonNumber) {
        switch(buttonNumber) {
            case 0:
                NavManager.NavigateTo("/");
                break;
            case 1:
                NavManager.NavigateTo("/Cv");
                break;
            case 2:
                NavManager.NavigateTo("/GitHub");
                break;
            default:
                NavManager.NavigateTo("/");
                break;
            }
        }
    }
