@page "/projects/Brutus"

@using System.Timers;

<div class="brutus-section brutus-sky-section">
    <h1>Brutus</h1>

    <div class="brutus-bird"></div>

    <div class="brutus-leaf brut brutus-single-leaf0"></div>
    <div class="brutus-leaf brut brutus-single-leaf1"></div>

    <div class="brutus-button-container">
        <NavLink class="brutus-nature-button" href="/projects/Brutus/PatchNotes">
            <span class="brutus-leaf-icon">🍃</span>
            <span>Patch Notes</span>
            <span class="brutus-leaf-icon">🍃</span>
        </NavLink>
    </div>
    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />    <br />
    <section class="brutus-text-section">
        <h2 class="brutus-text-title">About Brutus</h2>
        <p>
            Brutus is a game developed to experience tactics and excitement in not getting caught, the game is a stealth game that challenges you to navigate a dangerous environment without being seen, blending strategy, timing, and cunning. You must read your surroundings, anticipate enemy movements, and strike only when the moment is right. Success doesn’t come from brute force, but from patience, precision, and the art of staying hidden. Whether you’re infiltrating high-security compounds, eavesdropping on critical conversations, or escaping undetected, every decision matters... and one wrong move could mean failure.
        </p>
    </section>
    
    <section class="brutus-text-section">
        <h2 class="brutus-text-title">About The Developers</h2>
        <p>
            The game is developed by two friends who share the same ideals when it comes to software development. My name is Simon dos Reis Spedsbjerg and with Rasmus Meldgaard we decided to develop this project. We both share the same ideals in software design, with a focus on proper design, software architecture and methodologies which makes us good partners in this project. As said we are software engineers first which means we will focus on gameplay before nice graphics and other focuses. We strive for an experience which will bring you into the world of Brutus through the gameplay rather than the environment.
        </p>
        <section class="brutus-text-image-section">
            <div class="brutus-text-image-container">
                <div class="brutus-text-content">
                    <h3 class="brutus-text-title">Simon dos Reis Spedsbjerg</h3>
                    <p>MSc Software Engineer</p>
                    <p>
                        I’ve always gravitated toward stealth gameplay back in the early Assassin’s Creed days, I was among the few who would fully commit to sneaking rather than charging in, and I still play that way today in titles like Cyberpunk 2077. I’m also a long-time fan of Paradox Interactive’s grand strategy games, which fuel my love for depth and careful planning. Unfortunately, truly great stealth games remain rare, and that’s part of what motivates this project: to create experiences where players must think several steps ahead while constantly feeling the tension of being hunted—never quite knowing if the “giant troll next door” might catch their scent.
                    </p>
                    <p>I am the one who develop the AI, map generation aswell as 3D modelling and texturing all of the buildings and plant life. So then the AI gets stuck on a rock, I am the one to blame (:</p>
                    <p>Also Rasmus is a slacker :p</p>
                </div>
                <div class="brutus-image-container">
                    <img src="/Other/simon.jpg" alt="Image of Simon" />
                </div>
            </div>
        </section>

        <section class="brutus-text-image-section">
            <div class="brutus-text-image-container">
                <div class="brutus-text-content">
                    <h3 class="brutus-text-title">Rasmus Meldgaard</h3>
                    <p>
                        The one carrying the game.
                    </p>
                    <p>- Rasmus Meldgaard 2025</p>
                </div>
                <div class="brutus-image-container">
                    <img src="/Other/Rasmus.jpg" alt="Image of Rasmus" />
                </div>
            </div>
        </section>
    </section>


    <section class="brutus-text-section">
        <h2 class="brutus-text-title">State of the Game</h2>
        <p>
            We are still very early in development, at the moment we try to develop the core features and get a response from a few play testers. The goal here at the start is to determine many of the fundamental styles of the game. Many of the core features have been developed, now we just need some feedback on them.
        </p>
    </section>

    <section class="brutus-text-section">
        <h2>Seems like you have reached the end, come back again in the future for further information.</h2>
    </section>
</div>

@code {

}
