@page "/DKD"
@layout FremmødeSystem.Components.Layout.DKDNavbar

<div class="dkd-background">
    <div class="dkd-sidebars">
        <img src="/Other/Sidebar.png" class="dkd-sidebar-left" />
        <img src="/Other/Sidebar.png" class="dkd-sidebar-right" />
    </div>

    <section class="dkd">
    </section>
</div>





@code {

}
