@page "/projects/Brutus/PatchNotes"


<div class="brutus-section brutus-sky-section">
    <h1>PatchNotes</h1>

    <section class="brutus-text-section">
        <h2 class="brutus-text-title">Alpha0.0.1 : Initial</h2>
        <p>Initial version of the game ready for playtest, this update aims to verify functionality of features, whether the artstyle succesfully attracts players and compatibility with the playtesters systems.</p>
        <p>This Patch note will be very abstract as there is just too many things to document on first version</p>
        <p>Notable Features</p>
        <ul>
            <li>Nature Graphics with a living environment</li>
            <li>Procedural generated buildings and plants</li>
            <li>Simple AI behaviour</li>
            <li>Throw Items such as grenades or other pickable items</li>
            <li>Pickupable plants</li>
            <li>Races. (in the Tolkein sense such as orcs, ents, elves and so on.)</li>
        </ul>
    </section>
    <a href="javascript:history.back()" class="brutus-back-btn">
        ⬅ Back
    </a>

</div>




@code {

}
